/* 레이아웃 */
#header {background: url(/img/header_bg.jpg) repeat-x center top; }
#nav {background-color: #f6fdff;}
#title {background-color: #eafdff;}
#contents .container {border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb;}
#cont_left {float: left;width: 250px;}
#cont_center {
    overflow: hidden;
    margin-right: 250px;
    min-height: 1300px;
    border-right: 1px solid #dbdbdb; 
    border-left: 1px solid #dbdbdb;
}
#cont_right {position: absolute; right: 0; top: 0px; width: 250px;}
#footer {}

/* 컨테이너 */
.container {
    position: relative; 
    width: 1200px; 
    margin: 0 auto; 
    /* background: rgba(0,0,0,0.3) */
}

/* 헤더-헤더 */
.header {height: 327px;}
.header .header_menu {text-align: right;}
.header .header_menu a {
    color: #fff; 
    padding: 8px 0 6px 10px; 
    display: inline-block;
    transition: color 0.3s ease; 
    font-family: 'Abel', sans-serif;}
.header .header_menu a:hover {color: #ccc;}

/* 헤더-타이틀 */
.header .header_title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
    font-family: 'Abel', sans-serif;
}
.header .header_title h1 {
    font-size: 30px; 
    color: #fff; 
    background: #51b0dc; 
    display: inline-block; 
    padding: 5px 30px 5px 30px; 
    letter-spacing: 2px; 
    font-weight: 900;
    transition: box-shadow 0.25s ease-in-out;
}

.header .header_title a:hover {
    box-shadow:  /* 그림자 효과 */
        0 0 0 5px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

.header .header_icon { 
    text-align: center; 
    margin-top: 40px; 
    padding-bottom: 45px;
}

.header .header_icon li {
    display: inline; 
    margin: 0 2px;
}

.header .header_icon li a {
    position: relative;
    background-color: #3192bf;
    border-radius: 50%;
    width: 60px; 
    height: 60px;  
    color: #fff;
    display: inline-block;
    font-size: 35px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.header .header_icon li a span {
    position: absolute; 
    opacity: 0;
    left: 50%; top: -40px;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1.6;
    background: #3192bf; 
    padding: 3px 9px;
    border-radius: 6px 0;
    transition: all 0.3s ease;
}

.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}


.header .header_icon li a:hover {
    box-shadow: 
        0 0 0 3px rgba(75,154,191,0.9) inset,
        0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* nav 전체 메뉴 영역 */
.nav {overflow: hidden; padding: 25px 0; display:none ;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;}
.nav > div ol {overflow: hidden;}
.nav > div li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div:last-child li {width: 100%;}
.nav > li a {position: relative;}
.nav > div li:before {
    content: '';
    width: 3px; height: 3px;
    background-color: #25a2d0;
    border-radius: 50%;
    position: absolute; 
    left: 0; top: 8px;
}

.nav > div h3 {
    font-size: 18px; 
    color: #3a7fdf; 
    font-weight: bold; 
    margin-bottom: 4px;
}

.nav > div li a:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #25a2d0;
    transition: all .2s ease-out;
}
.nav > div li:hover a:after {width: 100%;}


/* id = title (article)  */
.title {position: relative;text-align: center;}
.title h2 {font-family: 'Nanum Brush Script'; cursive; font-size: 39px; color: #0093bd; padding: 5px 0;}
.title .btn {
    position: absolute; right: 0; top: 5px;
    width: 60px; 
    height: 60px; 
    line-height: 60px; 
    background: #3192bf; 
    color: #fff;
    font-size: 35px; 
    border-radius: 50%;
    transition: all 0.3s ease;
}
.title .btn:hover {
            box-shadow: 
                0 0 0 3px rgba(75,154,191,0.9) inset,
                0 0 0 100px rgba(0,0,0,0.1) inset;
        }


/* 컨텐츠 영역 */
.column {padding: 15px; border-bottom: 1px solid #dbdbdb;}
.column .col_tit {font-size: 20px; color: #2f7fa6; padding-bottom: 5px;}
.column .col_desc {
    border-bottom: 1px dashed #dbdbdb; 
    padding-bottom: 15px; 
    margin-bottom: 15px;  
    color: #878787;
    line-height: 18px;
}
.column.col1{}
.column.col2{}
.column.col3{border-bottom: 0;}
.column.col4{}
.column.col5{}
.column.col6{border-bottom: 0;}
.column.col7{}
.column.col8{}
.column.col9{border-bottom: 0;}


/* media query */
/* 화면 너비가 0 ~ 1220px */
@media (max-width: 1220px) {
    .container {width: 100%;}
    .row {padding: 0 15px;}
    .title .btn {right: 15px;}
}

 /* 화면 너비 0~1024px */
 @media (max-width: 1024px){
            
 }
 
 /* 화면 너비 0~960px */
 @media (max-width: 960px){
     .nav > div {float: none; width: 100%;}
     .nav > div:last-child {width: 100%;}
     .nav > div li {width: 33.333%;}
     .nav > div:last-child li {width: 33.333%;}
     .nav > div ol {margin-bottom: 10px;}
 }

 /* 화면 너비 0~768px */
 @media (max-width: 768px){

 }
 
 /* 화면 너비 0~600px */
 @media (max-width: 600px){
     .header {height: auto;}
     .nav > div li {width: 50%;}
     .nav > div:last-child li {width: 50%;}
     
     .header .header_tit {display: none;}
     .header .header_icon {display: none;}
     .title .btn {display: none;}
 }

 /* 화면 너비 0~480px */
 @media (max-width: 480px){

 }

 /* 화면 너비 0~320px */
 @media (max-width: 320px){

 }